<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BasicFMsmetamodel -->
      <package
            uri="http://caosd.lcc.uma.es/BasicFMmetamodel"
            class="uma.caosd.rhea.BasicFMmetamodel.BasicFMmetamodelPackage"
            genModel="src/main/resources/models/BasicFMs/BasicFMsmetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BasicConstraints -->
      <package
            uri="http://caosd.lcc.uma.es/BasicConstraints"
            class="uma.caosd.rhea.BasicConstraints.BasicConstraintsPackage"
            genModel="src/main/resources/models/BasicFMs/BasicConstraints.genmodel"/>
   </extension>

</plugin>
